#wrapper {
  width: 100%;
  max-width: 1170px;
  position: relative;
}

#carousel {
  overflow: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

#carousel::-webkit-scrollbar {
  height: 0;
}

#prev {
  margin-right: 11px;
  background: transparent;
}

#next {
  margin-left: 11px;
  background: transparent;
}

#content {
  display: grid;
  grid-gap: 16px;
  grid-auto-flow: column;
  margin: auto;
  box-sizing: border-box;
}

.item {
  width: 1020px;
  height: 660px;
  display: flex;
  flex-wrap: wrap;
}